# Files that can appear anywhere in the tree.
*.pyc
*.pyo
*.pyd
*$py.class
*.bak

# Stuff in the root.
build
dist
.coverage
.coverage.*
coverage.xml
htmlcov
MANIFEST
setuptools-*.egg
cogapp.egg-info
.tox
.*cache
.hypothesis/

docs/_build
